@{
    ViewData["Title"] = "Home Page";
}

<div class="jpcontainer">
     <div class="jpform">
         <form>
             <label>Mesa</label>
             <input type="text" name="" value="" placeholder="Mesa"/>





         </form>


     </div>
</div>
