@{
    ViewData["Title"] = "Home Page";
}

<div class="jpcontainer indexcontainer">
     <div class="jpform indexform">
         <form asp-controller="Home" asp-action="Pedido"  method="post" class="indexform">
             <label>Mesa</label>
             <input type="text" name="mesa" placeholder="Mesa"/>
             <button type="submit"> Fazer pedido </button>




         </form>


     </div>
</div>
