@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Item>


<div class="Lista">
    
        <div class="Lista-container">
        @foreach (Item item in Model)
           
        
        {    
            <div class="jpcard">
                <img src="~/Images/burguertest.jpg" alt="Alternate Text" />
                <div class="jpcard-text">
                    <h1 class="Product_name"> @item.Name </h1>
                    <p class="Description_name"> @item.Description </p>
                    <p class="Product_price">@item.Price</p>
                </div>
                   
                

                <div class="buybutton-jpcontainer">
                    <button>Comprar</button>
                </div>
                
            </div>



        }
        </div>
        



</div>

